workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "9681490a-68f1-4c6a-86ea-bf2331c3125d",
      "name": "Start Feedback Processing",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        448,
        952
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "170Meu2mMgu18B0QBBgmYbtdoI7otN6qHV-wT9BlENCY",
          "mode": "list",
          "cachedResultName": "customer data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/170Meu2mMgu18B0QBBgmYbtdoI7otN6qHV-wT9BlENCY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Raw customer data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/170Meu2mMgu18B0QBBgmYbtdoI7otN6qHV-wT9BlENCY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        952
      ],
      "id": "4a630df5-2aa9-4490-b287-830bffd187f0",
      "name": "Fetch Customer Feedback",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wXAfa4Y67s1bUqQ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ef766db-4ad1-43c7-b621-8ea3ed0a44b2",
              "name": "Campaign Target",
              "type": "string",
              "value": "Engage the Customer"
            },
            {
              "id": "9f9ce88a-a24a-4a27-8b25-25ee85e730d6",
              "name": "Flavour",
              "type": "string",
              "value": "Use a warm, mix of professional, friendly, relatable and respectful Nigerian tone. You may use phrases like 'our valued customer', 'thank you for your feedback', 'our darling customer', 'well done oh!', 'you do well', or 'na you try pass'.. Be appreciative and empathetic, but maintain a business-appropriate level of formality. Acknowledge the feedback sincerely and assure the customer that their concerns are being addressed. Avoid slang or overly casual language, while still being friendly and engaging."
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "780dd707-4493-4679-9064-acc3c59011f8",
      "name": "Campaign Parameters (Tone & Target)",
      "type": "n8n-nodes-base.set",
      "position": [
        896,
        952
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "text": "=Item Purchased: {{ $json['Item Purchased '] }}  \nFeedback: {{ $json.Feedback }}  \nCampaignTarget: {{ $json['Campaign Target'] }}  \nFlavour: {{ $json.Flavour }}  \n\nOur dear customer gave thoughtful feedback on the {{ $json['Item Purchased '] }} — they loved the smooth texture but mentioned the scent fades too quickly. Well done to them for speaking up! Since our campaign goal is to {{ $json['Campaign Target'] }}, and we’re all about making people feel heard and appreciated, we believe a little gift will go a long way.\n\nShould we send a coupon to make the customer happy? **Yes** ✅",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"Headline\",\"Body\",\"SendCoupon\"],\n  \"properties\": {\n    \"Headline\": {\n      \"type\": \"string\"\n    },\n    \"Body\": {\n      \"type\": \"string\"\n    },\n    \"SendCoupon\": {\n      \"type\": \"boolean\"\n    }\n  }\n}",
        "options": {
          "systemPromptTemplate": "=Use the provided JSON input to determine the sentiment of the product feedback. Then generate:\n- A Headline that reflects the customer’s experience and tone\n- A Body (no greeting or salutation) that responds sincerely and appreciatively\n- A boolean value for SendCoupon\n\nIf the feedback expresses dissatisfaction, concern, or any negative sentiment, include a mention of a coupon offer in the body text. IMPORTANT: Do not generate any coupon code or discount percentage in the body. The coupon code will be inserted separately below the email. Instead, use a general phrase like \"we have a special offer for you\" or \"please accept a token of our appreciation\". \n\nCampaign Target: {{ $json['Campaign Target'] }}\nFlavour: {{ $json['Flavour'] }}\n\nAvoid any greeting. Use a warm, professional, friendly, slightly playful and respectful Nigerian tone. You may include phrases like \"our dear customer,\" \"well done,\" or \"you try well\" if they fit naturally. Be appreciative and empathetic, but maintain a business-appropriate level of formality. Acknowledge the feedback sincerely and assure the customer that their concerns are being addressed. Avoid overly casual language. The goal is to make the customer feel heard, valued, and understood."
        }
      },
      "id": "3b152bdc-acb8-4f37-8b91-1ab02c0e9532",
      "name": "Analyze Sentiment & Draft Response",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        1120,
        828
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a95ce7c4-c592-40c7-9dfa-db0e37d5b71f",
      "name": "AI Draft + Customer Data",
      "type": "n8n-nodes-base.merge",
      "position": [
        1472,
        952
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9b4ced26-dd86-4ae4-8f69-6177ec42c827",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "Headline",
              "rightValue": ""
            },
            {
              "id": "7723102c-43d2-48df-82f6-5bb45ddf615c",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "Body",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "bb0474a1-425c-4a02-a13e-385272091189",
      "name": "If AI generated headline & body are valid",
      "type": "n8n-nodes-base.if",
      "position": [
        1696,
        952
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "errorMessage": "Unexpected Langchain Output"
      },
      "id": "716e4281-cf18-4cc7-b5ed-4de0308bf9aa",
      "name": "Invalid AI Output",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        1920,
        1048
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "967f37a1-a600-46a2-82cf-f340dd3c7a96",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.SendCoupon }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "b39e0b98-6824-4265-94a0-fe12154f2ad4",
      "name": "Send Coupon (when needed)",
      "type": "n8n-nodes-base.if",
      "position": [
        1920,
        856
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "2d5dd858-cf61-4136-b405-e6ad4a372725",
      "name": "Final Promotional email message",
      "type": "n8n-nodes-base.merge",
      "position": [
        2592,
        924
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "sendTo": "oluwalowojohn@gmail.com",
        "subject": "={{ $json.output.Headline }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2816,
        784
      ],
      "id": "c79b780b-9b44-4b52-910c-536cad377d63",
      "name": "Send Customer Engagement Email",
      "webhookId": "82a4eb61-1f62-4823-9dd5-dc9349e9ad48",
      "credentials": {
        "gmailOAuth2": {
          "id": "d5ljNKIIRxJqX2vl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>{{ $json['Headline'] }}</title>\n</head>\n<body>\n  <div class=\"container\">\n    <img class=\"logo\" src=\"https://img.logoipsum.com/264.svg\"/>\n    <h1>Hey {{ $json['Customer Name'] ? $json['Customer Name']+', ' : '!' }}</h1>\n    <p>{{ $json['Body'] }}</p>\n\n  <div class=\"footer\">\n     <p>\n      <strong>Tolu John Essentials Ltd.</strong><br>\n      Suite 5, Plaza Complex, 24 Central Business District,<br>\n      FCT-Abuja, Abuja, Nigeria.<br>\n      <a href=\"tel:+2347030739128\">+234 703 073 9128</a> | \n      <a href=\"mailto:support@ntjessentials.com\">support@tjessentials.com</a>\n     </p>  \n     <p class=\"unsubscribe\">\n          No longer want these emails? <a href=\"#\">Unsubscribe</a>.\n     </p>\n  </div>\n  </body>\n</html>\n\n<style>\n    body {\n        background-color: #f4f4f4;\n        margin: 0;\n        padding: 20px;\n        font-family: 'Segoe UI', Arial, sans-serif;\n    }\n    .container {\n        max-width: 600px;\n        margin: 0 auto;\n        background-color: #ffffff;\n        padding: 30px;\n        border-radius: 10px;\n        box-shadow: 0 2px 5px rgba(0,0,0,0.1);\n    }\n    .logo {\n        display: block;\n        margin: 0 auto 20px auto;\n        max-width: 180px;\n    }\n    h1 {\n        color: #e67e22; /* A warm, earthy tone */\n        font-size: 26px;\n        margin-top: 20px;\n        text-align: center;\n    }\n    p {\n        color: #555;\n        line-height: 1.6;\n        font-size: 16px;\n    }\n    .coupon {\n        background: linear-gradient(135deg, #f39c12 0%, #e67e22 100%);\n        color: #fff;\n        padding: 25px;\n        border-radius: 8px;\n        text-align: center;\n        margin: 25px 0;\n    }\n    .coupon h3 {\n        margin-top: 0;\n        font-size: 20px;\n    }\n    .coupon .code {\n        font-weight: bold;\n        font-size: 28px;\n        font-family: monospace;\n        letter-spacing: 2px;\n        background-color: rgba(255, 255, 255, 0.2);\n        padding: 10px;\n        border-radius: 5px;\n        display: inline-block;\n        margin: 10px 0;\n    }\n    .coupon p {\n        color: #fff;\n        margin-bottom: 0;\n        font-size: 14px;\n    }\n    .footer {\n        margin-top: 30px;\n        border-top: 1px solid #ddd;\n        padding-top: 20px;\n        text-align: center;\n        font-size: 14px;\n        color: #888;\n    }\n    .footer a {\n        color: #e67e22;\n        text-decoration: none;\n    }\n    .unsubscribe {\n        font-size: 12px !important;\n        color: #aaa !important;\n    }\n</style>"
      },
      "id": "13c4426f-f522-4127-b899-7e6397e18182",
      "name": "Standard email message (no Coupon)",
      "type": "n8n-nodes-base.html",
      "position": [
        2144,
        640
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "73989d0e-667f-4227-ab41-4eb1e8c1c10e",
              "name": "Coupon",
              "type": "string",
              "value": "={{ \"TJ-ESSEN\" + $now.format(\"MM\") + Math.floor(Math.random() * 1000) }}"
            },
            {
              "id": "4d86d8c8-1be3-40b0-b4fd-09f9ffc24386",
              "name": "Coupon Value",
              "type": "string",
              "value": "=Enjoy 20% off your next purchase of our {{ $json['Item Purchased '] }} range or any fragrance product!"
            },
            {
              "id": "f73b8a70-5bf6-45c2-8061-d10f95b199a8",
              "name": "Coupon Terms",
              "type": "string",
              "value": "=Valid until {{ $today.plus({days: 14}).format(\"d. MMM. y\") }} | minimum purchase amount: ₦10,000 "
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1dc51ad5-e605-4cad-9a5b-3b20eabd9797",
      "name": "Generate Coupon Details",
      "type": "n8n-nodes-base.set",
      "position": [
        2144,
        1048
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1-distill-llama-70b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1192,
        1052
      ],
      "id": "baddf661-db5a-463e-96a6-90af5c8a7b32",
      "name": "Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "45vEjqXrgijuDoCV",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "71e36c09-6e24-4eb2-9b1a-4fb3bb4b4536",
      "name": "Final Promotional email message1",
      "type": "n8n-nodes-base.merge",
      "position": [
        2368,
        684
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>{{ $json.output['Headline'] }}</title>\n</head>\n<body>\n  <div class=\"container\">\n    <img class=\"logo\" src=\"https://img.icons8.com/?size=100&id=Kdgekc9HP6SX&format=png&color=000000\"/>\n    <h1>Hello {{ $json['Customer Name'] ? $json['Customer Name']+', ' : '!' }}</h1>\n    <p>{{ $json.output['Body'] }}</p>\n    \n    <div class=\"coupon\">\n        <h3>Here's a Coupon for you!<br>\n        {{ $json['Coupon Value'] }}</h3>\n        <h4 class=\"code\">{{ $json['Coupon'] }}</h4>\n        <p>{{ $json['Coupon Terms'] }}</p>\n    </div>\n  <div class=\"footer\">\n     <p>\n      <strong>Tolu John Essentials Ltd.</strong><br>\n      Suite 5, Plaza Complex, 24 Central Business District,<br>\n      FCT-Abuja, Abuja, Nigeria.<br>\n      <a href=\"tel:+2347030739128\">+234 703 073 9128</a> | \n      <a href=\"mailto:support@ntjessentials.com\">support@tjessentials.com</a>\n     </p>  \n     <p class=\"unsubscribe\">\n          No longer want these emails? <a href=\"#\">Unsubscribe</a>.\n     </p>\n  </div>\n  </body>\n</html>\n\n<style>\n    body {\n        background-color: #f4f4f4;\n        margin: 0;\n        padding: 20px;\n        font-family: 'Segoe UI', Arial, sans-serif;\n    }\n    .container {\n        max-width: 600px;\n        margin: 0 auto;\n        background-color: #ffffff;\n        padding: 30px;\n        border-radius: 10px;\n        box-shadow: 0 2px 5px rgba(0,0,0,0.1);\n    }\n    .logo {\n        display: block;\n        margin: 0 auto 20px auto;\n        max-width: 180px;\n    }\n    h1 {\n        color: #e67e22; /* A warm, earthy tone */\n        font-size: 26px;\n        margin-top: 20px;\n        text-align: center;\n    }\n    p {\n        color: #555;\n        line-height: 1.6;\n        font-size: 16px;\n    }\n    .coupon {\n        background: linear-gradient(135deg, #f39c12 0%, #e67e22 100%);\n        color: #fff;\n        padding: 25px;\n        border-radius: 8px;\n        text-align: center;\n        margin: 25px 0;\n    }\n    .coupon h3 {\n        margin-top: 0;\n        font-size: 20px;\n    }\n    .coupon .code {\n        font-weight: bold;\n        font-size: 28px;\n        font-family: monospace;\n        letter-spacing: 2px;\n        background-color: rgba(255, 255, 255, 0.2);\n        padding: 10px;\n        border-radius: 5px;\n        display: inline-block;\n        margin: 10px 0;\n    }\n    .coupon p {\n        color: #fff;\n        margin-bottom: 0;\n        font-size: 14px;\n    }\n    .footer {\n        margin-top: 30px;\n        border-top: 1px solid #ddd;\n        padding-top: 20px;\n        text-align: center;\n        font-size: 14px;\n        color: #888;\n    }\n    .footer a {\n        color: #e67e22;\n        text-decoration: none;\n    }\n    .unsubscribe {\n        font-size: 12px !important;\n        color: #aaa !important;\n    }\n</style>"
      },
      "id": "a2b6ec8e-1bcf-4216-b9b6-476c0d82f706",
      "name": "Promotional email message (With Coupon)",
      "type": "n8n-nodes-base.html",
      "position": [
        2368,
        1048
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "Manually triggers the workflow to begin.",
        "height": 240,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        872
      ],
      "id": "0dafb506-12ac-4f4f-9231-1b774b9df238",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Sets the AI's instructions for tone (warm, professional and friendly) and campaign goal.",
        "height": 288,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        824
      ],
      "id": "07e6ad54-a613-4841-865d-321668d3ff67",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Fetches the latest customer feedback data from Google Sheets.",
        "height": 240,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        872
      ],
      "id": "1f4fbc83-6528-443d-9d5e-34b9b8240d40",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "AI analyzes feedback sentiment and generates a personalized email headline, body, and decides if a coupon is needed.",
        "height": 464,
        "width": 304,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1080,
        732
      ],
      "id": "d2b5f9ea-3ba2-4575-be32-ae7a6dcb247d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Combines the original customer data with the AI-generated email content.",
        "height": 256,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1408,
        856
      ],
      "id": "4d2aeb42-671c-47d0-bd37-19640d0f170c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Checks if the AI produced valid content. Stops the workflow with an error if it did not.",
        "height": 256,
        "width": 198,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1645,
        856
      ],
      "id": "d4b74a3c-c7ed-41dc-be0a-2e2829994777",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Branches the workflow by sending data down the 'no coupon' or 'with coupon' path based on the AI's decision.",
        "height": 288,
        "width": 198
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1869,
        728
      ],
      "id": "3f88b677-20d7-4a91-bc93-057674324f89",
      "name": "Sticky Note6"
    }
  ],
  "connections": {
    "Start Feedback Processing": {
      "main": [
        [
          {
            "node": "Fetch Customer Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Customer Feedback": {
      "main": [
        [
          {
            "node": "Campaign Parameters (Tone & Target)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campaign Parameters (Tone & Target)": {
      "main": [
        [
          {
            "node": "Analyze Sentiment & Draft Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Draft + Customer Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Analyze Sentiment & Draft Response": {
      "main": [
        [
          {
            "node": "AI Draft + Customer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Draft + Customer Data": {
      "main": [
        [
          {
            "node": "If AI generated headline & body are valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If AI generated headline & body are valid": {
      "main": [
        [
          {
            "node": "Send Coupon (when needed)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Coupon (when needed)": {
      "main": [
        [
          {
            "node": "Standard email message (no Coupon)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Final Promotional email message1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Generate Coupon Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Final Promotional email message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Promotional email message": {
      "main": [
        [
          {
            "node": "Send Customer Engagement Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standard email message (no Coupon)": {
      "main": [
        [
          {
            "node": "Final Promotional email message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Coupon Details": {
      "main": [
        [
          {
            "node": "Promotional email message (With Coupon)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Sentiment & Draft Response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Final Promotional email message1": {
      "main": [
        [
          {
            "node": "Send Customer Engagement Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promotional email message (With Coupon)": {
      "main": [
        [
          {
            "node": "Final Promotional email message",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateId": "1978",
    "templateCredsSetupCompleted": true,
    "instanceId": "db6a6a071dfca2e0d35fcf3e9f98b59e5ea7c188360bda9a81a90f32d133305b"
  }
}
